* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: max-content;
  background-color: GhostWhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ### PAGE */
.cv-page-container {
  width: 200px;
  container-type: inline-size;
}
.cv-page {
  padding: 2cqw 3cqw;
  font-size: 4cqw;
  line-height: normal;
}

/* ### HEADERS ### */
.cv-page > [class$="-header"] {
  border: 2px solid lightgrey;
  border-left: none;
  border-bottom: none;
  background-color: whitesmoke;
  text-align: right;
  color: royalblue;
  font-weight: bold;
  padding: 0.45em 0.3em;
  font-size: 0.45em;
}
.cv-page > [class$="-header"]:not(:has(~ [class$="-header"])) {
  border-bottom: 2px solid lightgrey;
}

/* ### CONTENT ### */
.cv-page > [class$="-content"] {
  border: 2px solid lightgrey;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background-color: white;
  padding: 0.2em 0.3em;
  line-height: 0;
}
.cv-page > [class$="-content"]:not(:has(~ [class$="-content"])) {
  border-bottom: 2px solid lightgrey;
}

/* ### PROFILE ### */
.profile {
  font-size: 0.45em;
}
.profile label {
  margin: 0.5em 0;
}

/* ### CONTACT DETAILS ### */
.contact-details {
  margin: 0.3em;
}
.contact-details .name {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.2em 0;
  color: royalblue;
}
.contact-details .email,
.contact-details .phone,
.contact-details .city,
.contact-details .post-code {
  margin: 0.1em 0;
  font-size: 0.4em;
}

/* ### SKILLS ### */
.skills > ul {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(10ch, max-content));
  list-style-type: initial;
  list-style-position: inside;
  margin-bottom: 0.2em;
}
.skill {
  font-size: 0.45em;
  margin: 0.5em 0;
  margin-right: 1.6em;
  min-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}

/* ### EXPERIENCE ### */
.experience > ul {
  list-style-type: none;
  margin-bottom: 1em;
  margin-bottom: 0.2em;
}
.job:not(:first-of-type) {
  margin-top: 0.8em;
}
.job-title {
  font-weight: bold;
  font-size: 0.5em;
  margin-bottom: 0.45em;
}
.job-date {
  margin-left: 1em;
  font-weight: bold;
  font-size: 0.4em;
  color: dimgray;
}
.job-responsibilities-header {
  font-size: 0.45em;
  margin: 0.2em 0;
}
.job-responsibilities > ul {
  list-style-type: initial;
  list-style-position: inside;
  margin: 0.45em 0;
}
.responsibility {
  font-size: 0.45em;
  margin: 0.2em 0;
}
.job-description {
  font-size: 0.45em;
}
.job-responsibilities > button,
.job-description > button {
  margin-left: 1.5em;
}

/* ### EDUCATION ### */
.education > ul {
  margin-bottom: 0.2em;
}

.institution:not(:first-of-type) {
  margin-top: 0.8em;
}
.institution > ul {
  list-style-type: none;
}
.institution-title {
  font-weight: bold;
  font-size: 0.5em;
  margin-bottom: 0.45em;
}
.institution-date {
  margin-left: 1em;
  font-weight: bold;
  font-size: 0.4em;
  color: dimgray;
}
.subjects > ul {
  list-style-type: initial;
  list-style-position: inside;
  margin-top: 0.2em;
  margin-bottom: 0.45em;
}
.subject {
  font-size: 0.45em;
  margin: 0.2em 0;
}
.subject-title {
  margin-right: 0.2em;
}
.subject-grade {
  margin-left: 0.2em;
}
.institution-description {
  font-size: 0.45em;
}
.subjects > button,
.institution-description > button {
  margin-left: 1.5em;
}

/* ### BUTTONS ### */
.preview-btn,
.edit-btn,
.add-btn {
  font-family: inherit;
  font-size: 2cqw;
  padding: 0.1em 0.3em;
  margin: 0.3em;
  border-style: dotted;
  border-radius: 2px;
  border-color: lightgray;
  background-color: whitesmoke;
}
.edit-btn,
.preview-btn {
  font-size: 0.9rem;
  padding: 0.3rem 0.4rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.add-btn:hover,
.edit-btn:hover,
.preview-btn:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
